
# Path to the Kindle Vocabulary Builder data file (SQLite3 database)
# Example: The vocabulary data file (vocab.db) can be found in your Kindle directory at:
# /[Kindle Volume]/system/vocabulary/vocab.db
# If this variable is not set, the default vocabulary database used will be: ./vocab.db
VOCAB_PATH=

DEEPL_API_KEY=